<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>
    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="style.css">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!-- starting dom in which operate vue -->
    <div id="app">
      <!-- Input that filter the movie handled by vue -->
      <div class="searxh">
        <input v-model="movieSearched"
         @keyup.enter="SearchingMovie"
         type="text">
         <!-- Buttom linnked a function managed by vue -->
         <button @click="SearchingMovie">Search</button>
      </div>
      <!-- container that contains the array printed -->
      <div class="movies-container">
        <!-- loop of array that print the filtered search -->
        <div class="movie" v-for="element in listaFiltered">
           <ul>
             <li>
                <span>Titolo:</span>
                <span>{{element.title}}</span>
             </li>
             <li>
                <span>Titolo originale:</span>
                <span>{{element.original_title}}</span>
             </li>
             <li>
                <!-- loop to print the star based on vote manage by a function -->
                <span>voto</span>
                <i v-for="n in getVote(element.vote_average)"
                   class="fas fa-star"
                ></i>
                <i v-for="n in 5 - getVote(element.vote_average)"
                   class="far fa-star"
                ></i>
             </li>
             <li>
                <!-- Printing the flag if the langue is it or eng  -->
                <span>Lingua:</span>
                <img v-if="isLangFlag(element.original_language)" class="flag"
                  :src="getFlag(element.original_language)"
                  :alt="element.original_language"
                >
                <!-- Printing the string -->
                <span v-else>{{element.original_language}}</span>
             </li>
           </ul>
        </div>
      </div>
    </div>




    <!-- JS  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./javascript/main.js"></script>
</body>
</html>
