
/* General Setting */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* flag */

.flag{
  width: 50px;
  height: 30px;
}


/* Header */

.app-header{
  padding: 10px 10px 5px;
  background: #2e3a46;
  display: flex;
  justify-content: space-between;
}


.app-header img{
  max-height: 50px;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.search input{
  padding-right: 20px;
  border-radius: 20px;
  margin-right: 20px;
  outline: 0;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.search input:hover{
  border: 3px solid black
}

.search input:focus{
  border: 3px solid black
}

.search button{
  min-width: 100px;
 border-radius: 10px;
 padding: 10px 10px;
 cursor: pointer;
 box-shadow: 0.5px 0.5px 2px 0.5px #888888;
 border: none;
 transition: background-color .4s;

}

.search button:hover{
  color: red;
  background-color: #80808045;
}

/* movies */
.movies-container{
  background: #1e2d3b;
}


.movies-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 10px;
  list-style: none;
}

.movie{
  flex-basis: 200px;
  margin: 10px 20px;
  padding: 20px;
  text-align: center;
  background: #2e3a46;
}

img{
  width: 160px;
  height: 210px;
}

.img-wraper{
  position: relative;
 cursor: pointer;
 overflow: hidden;
}

.img-layover{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 210px;
 background: rgba(26, 188, 156, .7);
 opacity: 0;
 transition: opacity .4s;
 overflow: hidden;
}
.img-layover i{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 font-size: 70px;
 color: #fff;
}

.img-wraper:hover  .img-layover{
 opacity: 1;
}
li{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

span{
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-big{
  font-weight: 700;
  color: white;
  font-size: 27px;
}

.title-small{
  font-size: 14px;
  color: gray;
  padding-top: 20px;
}
