
/* General Setting */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* flag */

.flag{
  width: 20px;
  height: 20px;
}


/* Header */

.app-header{
  padding: 10px 10px 5px;
  background: #2e3a46;
}


.app-header img{
  max-height: 50px;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.search input{
  padding-right: 20px;
  border-radius: 20px;
  margin-right: 20px;
  outline: 0;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.search input:hover{
  border: 3px solid black
}

.search input:focus{
  border: 3px solid black
}

.search button{
  min-width: 100px;
 border-radius: 10px;
 padding: 10px 10px;
 cursor: pointer;
 box-shadow: 0.5px 0.5px 2px 0.5px #888888;
 border: none;
 transition: background-color .4s;

}

.search button:hover{
  color: red;
  background-color: #80808045;
}

/* movies */
.movies-container,
.search{
  background: #1e2d3b;
}


.movies-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 10px;
  list-style: none;
}

.movie{
  flex-basis: 200px;
  margin: 10px 20px;
  padding: 20px;
  text-align: center;
  background: #2e3a46;
}

img{
  width: 250px;
}

li{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

span{
  margin-top: 10px;
  margin-bottom: 10px;
}
